*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(240, 238, 238);
}
.card{
    background-color: white;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    border-radius: 10px;

}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: gray;
    max-width: 12rem;
}
.text2{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    color: gray;
    max-width: 20rem;
}
.text>h1{
    color: rgb(97, 97, 97);
    font-weight: bold;
    font-size: 1.7rem;
}
.logo{
    padding: .5rem;
    background-color: rgb(4, 104, 70);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 5rem;
}

.button1{
    background-color: rgb(4, 104, 70);
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    align-self: center;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.button2{
    position: absolute;
    left: 14rem;
    bottom: 7.2rem;
    background-color: lightblue;
    border: none;
    /* border: 2px bold black; */
}
.position{
    position: relative;
    right: -8rem;
}
.tag{
    color: rgb(190, 189, 189);
}
.card2{
    width: 35rem;
    /* height: 20rem; */
    min-height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: row;
    padding: 2rem;
}
.content{
    display: flex;
    gap: 2rem;
}